.form_modification_utilisateur {
  box-sizing: border-box;
  font-size: 15px;
  background-image: url("../images/bg_landing_page.jpeg");
  z-index: 1;
}

.retour_tabBord_modif{
  background: linear-gradient(135deg,#54a576, #48765b);
  transition: 0.3s ease-out;
}

.retour_tabBord_modif:hover {
  scale: 1.05;
}

.formulaire_modif_utilisateur {
  background: linear-gradient(135deg, rgba(139, 255, 230, 0.634), rgba(117, 206, 93, 0.614));
}
 
.titre_modif_utilisateur {
  font-size: 1.5em;
  font-weight: bold;
}

input {
  width: 80%;
  height: auto;
  padding: 8px;
  margin: 0 10px;
  text-align: center;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

form input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 1em rgb(32, 255, 54);
  font-size: 1em;
}

form select:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 1em rgb(32, 255, 54);
  font-size: 1em;
}

.boutton_modification_utilisateur {
  background: linear-gradient(135deg, #48765b, #54a576, #48765b);
}

.boutton_modification_utilisateur:hover {
  transform: scale(1.05);
}

.hide {
  display: none;
}

.popup_inscription {
  position: absolute;
  top: 5%;
  right: 0;
  width: 35%;
  height: 10%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  transition: 0.3s ease-out;
  font-size: 1em;
  border-radius: 15px 0 0 15px ;
  background: linear-gradient(135deg, #d88b8b, #ff4141);
  z-index: 5;
}

.blue {
  width: 100%;
  height: 100%;
}
